<ion-view >
  <ion-nav-title>{{ 'TITLE' | translate }}</ion-nav-title>

  <ion-content>

    <ion-list>
      <div  ng-repeat="building in buildings">
        <div class="item item-divider">
          {{building}}
        </div>
        <ion-item class="item-remove-animate item-icon-right" ng-repeat="realstate in realStates | filter:building" type="item-text-wrap" href="#/app/realstates/{{realstate.id}}">
          <h2>{{realstate.name}}</h2>
          <p>{{realstate.building}}</p>
          <span class="badge" ng-class="realstate.badgeType">
            {{(realstate.state === 'vacant' ? 'realstates.vacant' : realstate.remainingDays) | translate}}
          </span>
          <i class="icon icon-accessory" ng-class="getIcon()"></i>
        </ion-item>
    </ion-list>

  </ion-content>

</ion-view>
