<ion-view>
  <ion-nav-title>{{'Ralstate No #'}}</ion-nav-title>
  <ion-content class="padding">
  <h2>Expanses</h2>

  <!-- Expanses -->
  <div class="card">
    <div class="item item-divider">
      February
    </div>
    <div class="item">
      <!-- Header -->
      <div class="row">
        <div class="col"><b>Description</b></div>
        <div class="col number"><b>Amount</b></div>
      </div>     
      <hr/>
      <!-- Expanses details -->
      <div class="row">
        <div class="col">Plumping</div>
        <div class="col number">100.00</div>
      </div>        
      <div class="row">
        <div class="col">Cooking gas</div>
        <div class="col number">70.00</div>
      </div>
      <div class="row">
        <div class="col">Light bulp replacement</div>
        <div class="col number">30.00</div>
      </div>
      <hr/>
      <!-- footer / TOTAL -->
      <div class="row">
        <div class="col"><b>TOTAL</b></div>
        <div class="col number"><b>170.00</b></div>
      </div>
      <hr style="border-top: 3px double" />
    </div>
  </div>


  </ion-content>
</ion-view>
