<ion-view>
  <ion-nav-title>{{ 'expanses.title' | translate }}</ion-nav-title>
  <ion-content class="padding">
  <h3>{{ 'expanses.subtitle' | translate }}</h3>

  <!--/\/\/\/\/\/\/\/\/\ Fake Data /\/\/\/\/\/\/\/\/\-->

  <!-- Expanses -->
  <div class="card">
    <div class="item item-divider">
      {{ 'expanses.sampleMonth' | translate }}
    </div>
    <div class="item">
      <!-- Header -->
      <div class="row">
        <div class="col-80"><b> {{ 'expanses.discription' | translate }}</b></div>
        <div class="col-20 number"><b>{{ 'expanses.amount' | translate }}</b></div>
      </div>     
      <hr/>
      <!-- Expanses details -->
      <div class="row">
        <div class="col-80">{{ 'expanses.sample1Discription' | translate }}</div>
        <div class="col-20 number">100.00</div>
      </div>        
      <div class="row">
        <div class="col-80">{{ 'expanses.sample2Discription' | translate }}</div>
        <div class="col-20 number">70.00</div>
      </div>
      <div class="row">
        <div class="col-80">{{ 'expanses.sample3Discription' | translate }}</div>
        <div class="col-20 number">30.00</div>
      </div>
      <hr/>
      <!-- footer / TOTAL -->
      <div class="row">
        <div class="col-80"><b>{{ 'expanses.total' | translate }}</b></div>
        <div class="col-20 number"><b>170.00</b></div>
      </div>
      <hr style="border-top: 3px double" />
    </div>
  </div>


  </ion-content>
</ion-view>
