<ion-view>
  <ion-nav-title>{{ 'expenses.title' | translate }}</ion-nav-title>
  <ion-content class="padding">
  <h3 style="text-align: center;">
    {{ 'month' + month | translate }}
  </h3>
  <!-- Expense -->
  <div class="card">
    <div class="item" >
      <!-- Header -->
      <div class="row">
        <div class="col-80"><b>{{ 'expenses.description' | translate }}</b>
        </div>
         <div class="col-20"><b>{{ 'expenses.amount' | translate }}</b>
         </div>
      </div>

      <hr/>
      <!-- Income details -->
      <div ng-repeat="detail in details">
        <div class="row">
          <div class="col-80">{{detail.description}}</div>
          <div class="col-20 number">{{detail.amount | number:2}}</div>
        </div>
      </div>        
          
      <hr/>
      <!-- footer / TOTAL -->
      <div class="row">
        <div class="col"><b>{{ 'income.total' | translate }}</b></div>
        <div class="col-20 number"><b>{{ monthSum | number:2 }}</b></div>
      </div>
      <hr style="border-top: 3px double" />
    </div>
  </div>
  </ion-content>
</ion-view>
