
<ion-view>
  <ion-nav-title>{{viewTitle}}</ion-nav-title>
  <ion-content class="padding">

    <!-- Realstated details -->
    <div class="card">
      <div class="item item-divider">
        {{ 'realstateDetails.title' | translate }}
      </div>
      <div class="item item-text-wrap">
        {{ 'realstate.name' | translate }}: <b> {{realstate.name}} </b> <br/>
        {{ 'realstate.building' | translate }}: <b> {{realstate.building}} </b> <br/>
        {{ 'realstate.address' | translate }}: <b> {{realstate.address}} </b> <br/>
        {{ 'realstate.status' | translate }}: <b> {{'realstates.' + realstate.state | translate}} </b> <br/>
      </div>
      <a class="item positive" ng-class="(currentLanguage === 'ar' ? 'item-icon-right' : 'item-icon-left' )" >
        <i class="icon ion-edit"></i>
        {{ 'realstateDetails.editRealstate' | translate }}
      </a>
    </div>

    <!-- Rent button -->
    <div class="button-bar" ng-show="realstate.state === 'vacant'">
      <a class="button button-positive" href="#app/contracts/new/{{realstate.id}}">
        {{ 'realstateDetails.rent' | translate}}
      </a>
    </div>

    <!-- Contract summary card -->
    <div class="list card" ng-show="realstate.state === 'full'">
      <div class="item item-divider">
        <div> {{ 'realstateDetails.contractSummary' | translate }} </div>
      </div>

      <div class="item item-acionts">
        {{ 'realstateDetails.renter' | translate }}: <b>{{currentContract.renter.name}}</b> <br/>
        {{ 'realstateDetails.remainingDays' | translate }}: <b>{{realstate.remainingDays}}</b> <br/>
        {{ 'realstateDetails.duration' | translate }}:  <b>{{currentContract.startDate|date:'d/MM/yyyy'}} - {{currentContract.endDate|date:'d/MM/yyyy'}}</b>
      </div>

      <div class="item row">
          <a class="col subdued balanced icon-left ion-document" href="#/app/contracts/{{currentContract.id}}">
            {{ 'realstateDetails.viewContract' | translate }}
          </a>&nbsp &nbsp 
          <a class="col subdued calm icon-left ion-refresh" href="#/app/contracts/{{currentContract.id}}/renew" >
            {{ 'realstateDetails.renewContract' | translate }}
          </a> &nbsp &nbsp 
          <a class="col-80 subdued positive icon-left ion-ios-minus-outline" href="#" ng-click="finishContract()" >
            {{ 'realstateDetails.finishContract' | translate }}
          </a>
      </div>
    </div>


    <br/>
    <!-- Income & Expenses Buttons -->
    <div class="button-bar">
      <a class="button button-calm" href="#/app/realstates/{{realstate.id}}/expenses"> 
        {{ 'realstateDetails.expenses' | translate }}
      </a>
      <a class="button button-balanced" href="#/app/realstates/{{realstate.id}}/income">
        {{ 'realstateDetails.income' | translate }}
      </a>
    </div>




  </ion-content>


</ion-view>
