<ion-view view-title="Dashboard">
  <ion-content class="padding">

   <div class="card">
      <div class="item item-divider item-avtar">
          <i class="icon ion-alert-circled icon-accessory"></i>
        Required attentsions
      </div>
      <div class="item item-text-wrap">
        Flat 1 one days remaing
      </div>
      <div class="item item-text-wrap">
        Flat 303 not renwed and not finished
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        Vacant realstates
      </div>
      <ion-item class="item item-icon-right item-no-padding" href="#">
          <h2>Flat 2</h2>
          <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item item-icon-right item-no-padding" href="#">
          <h2>Flat 3</h2>
          <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </div>

    <div class="card">
      <div class="item item-divider">
        Activities
      </div>
      <div class="item item-text-wrap">
        Flat 1 rented to Omerk Khalid
      </div>
      <div class="item item-text-wrap">
        Flat 4 renewd for 7 days to Khalid Abo Sin
      </div>      
      <div class="item item-text-wrap">
        Ameir repaired fan at flat 2
      </div>
    </div>

  </ion-content>
</ion-view>
