<ion-view>
	<ion-nav-title> {{ 'renewalNew.title' | translate }} 
	{{ contract.realstate.name }} 
	</ion-nav-title>
	<ion-content>
		<div class="list card">

			<!-- Renewal date -->
			<label class="item item-input">
			  <span class="input-label">{{ 'renewalNew.renewalDate' | translate }}</span>
			  <input type="date" ng-model="model.renewalDate">
			</label>

			<!-- Duration in days -->
			<label class="item item-input">
			  <span class="input-label">{{ 'renewalNew.days' | translate }}</span>
			  <input type="number" ng-model="model.durationInDays">
			</label>

			<!-- End date -->
			<label class="item item-input">
				<span class="input-label">{{ 'renewalNew.endDate' | translate }}</span>
				<input ng-model="model.endDate" type="date" />
			</label>
		</div>

		<div class="list card">
		  <div class="row item">
		    <div class="col">{{ 'contract.rentalFees' | translate }}</div>
		    <div class="col item-number">{{contract.realstate.rentalFees}}</div>
		  </div>
		  <div class="row item">
		    <div class="col">{{ 'contract.numberOfDays' | translate }}</div>
		    <div class="col item-number">{{model.durationInDays}}</div>
		  </div>

		  <div class="row item item-divider">
		    <div class="col">{{ 'contract.total' | translate }}</div>
		    <div style="font-size: 20px; font-weight: bold;" class="col item-number ">
		    	{{model.total}}
		    </div>
		  </div>
		</div>
		<div class="button-bar padding">
			<a class="button button-positive" ng-click="renew()" ng-show="isNew">
				{{ 'renewalNew.renew' | translate }}
			</a>
		</div>
		<div class="button-bar padding">
			<a class="button button-calm icon-left ion-edit" ng-click="update()" ng-show="isEdit">{{ 'renewalNew.update' | translate }}</a>
			<a class="button button-assertive icon-left ion-minus-circled" ng-click="remove()" ng-show="isEdit">{{ 'renewalNew.delete' | translate }}</a>
		</div>

	</ion-content>
</ion-view>