<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->

<ion-view>
  <ion-nav-title> {{ 'newContract.title' | translate }} : {{ model.realstate.name }} </ion-nav-title>

  <ion-content class="padding">

    <!-- Contract date -->
    <div class="card">
      <!-- Date of contract -->
      <label class="item item-input">
        <span class="input-label">{{'newContract.date' | translate}}</span>
        <input type="date" ng-model="model.contractDate">
      </label>
    </div>

    <!-- Renter -->
    <div class="list card">
      <div class="item" ng-show="model.renter">
        <h2>{{ 'newContract.renter' | translate }} : &nbsp <b>{{model.renter.name}} / {{model.renter.phone1}}</b></h2>
      </div>
      <a class="item positive" 
        ng-class="(currentLanguage === 'ar' ? 'item-icon-right' : 'item-icon-left' )"
        ng-click="openModalPeople('renter')">
        <i class="icon ion-ios-person"></i>
        {{ 'newContract.selectRenter' | translate }}
      </a>
    </div>

    <!-- Companion -->
    <div class="list card">
      <div class="item item-divider" ng-show="model.companions.length === model.companionLimit">
        Companions
      </div>
      <div class="item" 
          ng-class="(currentLanguage === 'ar' ? 'item-icon-left' : 'item-icon-right' )"
          ng-repeat="companion in model.companions"> 
          <i class="icon ion-minus-circled assertive" ng-click="removeCompanion(companion)"></i>
          {{companion.name}} / {{companion.phone}} 
      </div>
     <a class="item positive" 
        ng-class="(currentLanguage === 'ar' ? 'item-icon-right' : 'item-icon-left' )"
        ng-click="openModalCompanion()" 
        ng-show="model.companions.length < model.companionLimit">
        <i class="icon ion-ios-people"></i>
        {{ 'newContract.addCompanion' | translate }}
      </a>
    </div>

    <!-- Broker -->
    <div class="list card">
      <div class="item" ng-show="model.broker">
        <h2> {{ 'newContract.broker' | translate }} : &nbsp <b>{{model.broker.name}} / {{model.broker.phone1}}</b></h2>
      </div>
      <a class="item calm" 
         ng-class="(currentLanguage === 'ar' ? 'item-icon-right' : 'item-icon-left' )"
         ng-click="openModalPeople('broker')">
        <i class="icon ion-ios-person"></i>
        {{ 'newContract.selectBroker' | translate }}
      </a>
    </div>

    <!-- Dates -->
    <div class="list card">
      <!-- Start Date -->
      <label class="item item-input">
        <span class="input-label">{{ 'newContract.startDate' | translate }}</span>
        <input type="date" ng-model="model.startDate">
      </label>
      <!-- End Date -->
      <label class="item item-input">
        <span class="input-label">{{ 'newContract.endDate' | translate }}</span>
        <input type="date" ng-change="endDateChanged()" ng-model="model.endDate">
      </label>
      <!-- Duration of lease on dayse -->
      <label class="item item-input">
        <span class="input-label">{{ 'contract.numberOfDays' | translate }}</span>
        <input type="number" ng-model="model.durationInDays">
      </label>    
      <!-- Rental fees per day -->
      <label class="item item-input">
        <span class="input-label">{{ 'contract.rentalFees' | translate }}</span>
        <input type="number" ng-model="model.realstate.rentalFees" ng-change="clalculateTotal()">
      </label>
    </div><!-- Duration List -->


    <!-- TOTAL -->
    <div class="list card">
      <div class="row item">
        <div class="col">{{ 'contract.total' | translate }}</div>
        <div class="col item-number">{{model.total}}</div>
      </div>
      <div class="row item">
        <div class="col"> {{ 'contract.discount' | translate }} </div>
        <input ng-model="model.discount" ng-change="clalculateTotal()" type="number" class="col"/>
      </div>
      <div class="row item" ng-show="model.broker">
        <div class="col"> {{ 'contract.brokerFees' | translate }} </div>
        <div class="col item-number">{{model.brokerFees}}</div>
      </div>
      <div class="row item item-divider">
        <div class="col"> {{ 'contract.grandTotal' | translate }} </div>
        <div style="font-size: 20px; font-weight: bold;" class="col item-number ">{{model.grandTotal}}</div>
      </div>
    </div>


    <a ng-click="save()" class="button button-full button-positive" > {{ 'newContract.save' | translate }} </a>

    <br/>


  </ion-content>

</ion-view>
