<div class="modal" ng-class="(currentLanguage === 'ar') ? 'arabic' : 'normalDirection'">
  <ion-header-bar >
    <h1 class="title">{{ 'personNewModal.addPerson' | translate }}</h1>
    <button class="button button-icon icon ion-ios-close-outline" ng-click="cancelModalNewPerson()">
    </button>
  </ion-header-bar>

  <ion-content class="padding">
    <div class="list" >
      <!-- Name -->
      <label class="item item-input">
        <span class="input-label">{{ 'personNewModal.name' | translate }}</span>
        <input type="text" ng-model="modalNewPerson.new.name">
      </label>
      <!-- Phone -->
      <label class="item item-input">
        <span class="input-label">{{ 'personNewModal.phone' | translate }}</span>
        <input type="text" ng-model="modalNewPerson.new.phone1">
      </label>
      <!-- Address -->
      <label class="item item-input">
        <span class="input-label">{{ 'personNewModal.address' | translate }}</span>
        <input type="text" ng-model="modalNewPerson.new.address">
      </label>
      <br/>
      <div class="button-bar"> 
        <button class="button button-balanced button-outline" ng-click="closeModalNewPerson()">
          {{ 'personNewModal.save' | translate }}</button>
      </div>
  </ion-content>
</div>
